aiogram
aioschedule
aiosqlite
aiovk
art
beautifulsoup4
coloredlogs
dynaconf
feedparser
httpx
lxml
psutil
pyduckgo==0.2.0
pymemeru==0.1.0
pyyaml
peewee
tghtml==1.0.6
wikipya==4.0.0b3
todoist-python
pydantic
emoji
